.git
.github
.pytest_cache
__pycache__
*.pyc
*.pyo
*.log
.env
.env.*
node_modules
dist
build
*.sql
*.sql.gz
*.tar
*.tar.gz
*.tgz
*.zip
sites
logs
backups
private
site_config.json
common_site_config.json
